:root {
  --primary-color: #646cff;
  --secondary-color: #1a1a1a;
  --hover-color: #535bf2;
  --light-background: #f9f9f9;
  --dark-background: #242424;
  --text-color: rgba(255, 255, 255, 0.87);
  --light-text-color: #213547;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: var(--dark-background);
  color: var(--text-color);
}

.member-card {
  background-color: var(--secondary-color);
  border-radius: 8px;
  padding: 15px;
  margin: 10px;
  width: 300px;
  text-align: center;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.member-card h2 {
  margin: 0;
  font-size: 1.5em;
}

.member-card button {
  margin-top: 10px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.member-card button:hover {
  background-color: var(--hover-color);
}

.reset-button {
  margin-top: 20px;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.reset-button:hover {
  background-color: var(--hover-color);
}

@media (prefers-color-scheme: light) {
  :root {
    --dark-background: #ffffff;
    --text-color: #213547;
    --secondary-color: #f9f9f9;
  }
}